.projects__grid {
	/* max-width: 68.75rem; */
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	justify-content: center;
}

@media (max-width: 1300px) {
	.projects__grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 880px) {
	.projects__grid {
		grid-template-columns: 1fr;
	}
}
