.project {
	padding: 3rem;
	margin: 0 auto;
	text-align: center;
	box-shadow: var(--shadow);
	transition: transform 0.2s linear;
	border-radius: 0.5rem;
	background-color: var(--card-bg);
	max-width: 450px;
	position: relative;
}

.project:hover {
	transform: translateY(-7px);
}

.project__description {
	margin-top: 1em;
}

.project__stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.2em 0;
}

.project__stack_item {
	margin: 0.5em;
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--clr-fg-alt);
}

.link__icon {
	margin-left: 0.5em;
}

.appImg {
	border-radius: 0.5rem;
}

.projectName {
	margin-top: 0.625rem;
}

@media (max-width: 440px) {
	.project {
		padding: 2rem 1rem;
	}
	.appImg {
		max-width: calc(320px * 0.9);
	}
}
